version: 1.0.{build}
install:
  - nuget restore
configuration: Release
platform: Any CPU
build:
  project: XmlSchemaClassGenerator.sln
  verbosity: minimal
  publish_nuget: true
  publish_nuget_symbols: true
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"
